.profile-page {
  max-width: 1440px;
  padding: 70px 20px;
}

.profile__header {
  margin-bottom: 30px;
}

.profile__title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 60px;
}

.profile__subtitle,
.profile__keywords {
  font-family: "Roboto", serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.clear-button {
  font-family: "Roboto", serif;
  background-color: #ff4d4f;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #d9363e; /* slightly deeper red */
}

.profile__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (max-width: 768px) {
  .profile-page {
    padding: 20px;
  }
  .profile__cards {
    justify-items: center;
  }
  .profile__title {
    font-size: 22px;
    text-align: center;
  }

  .profile__subtitle {
    font-size: 14px;
    text-align: center;
  }

  .clear-button {
    display: block;
    width: 32%;
    margin: 20px auto;
  }
}

.keyword-link {
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

.keyword-link:hover {
  text-decoration: underline;
}

@media (max-width: 514px) {
  .profile__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .clear-button {
    display: block;
    width: 62%;
    margin: 20px auto;
  }
}
@media (max-width: 320px) {
  .profile__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .clear-button {
    display: block;
    width: 80%;
    margin: 20px auto;
  }
}
