.saved-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.2s ease;
}

.saved-card__image {
  width: 100%;
  height: 272px;
  object-fit: fill;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.saved-card__badge {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 24px;
  left: 24px;
  background: white;
  padding: 8px 22px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  width: auto;
  height: 40px;
}

.saved-card__trash {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.saved-card__content {
  padding: 16px;
}

.saved-card__date {
  font-family: "Roboto", serif;
  font-size: 18px;
  color: gray;
}

.saved-card__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 600;
  margin: 4px 0;
  color: black;
}

.saved-card__desc {
  font-size: 14px;
  color: #333;
}

.saved-card__source {
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 16px;
  color: #888;
  margin-top: 6px;
}
@media (max-width: 768px) {
  .saved-card {
    max-width: 224px;
  }
  .saved-card__badge {
    max-width: 100px;
    padding: 6px 10px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .saved-card__trash {
    top: 24px;
    right: 12px;
  }
  .saved-card__image {
    width: 100%;
    height: 150px;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .saved-card__date {
    margin-top: 0;
    margin-bottom: 12px;
  }
  .saved-card__content {
    padding: 16px;
    height: 270px;
  }
  .saved-card__title {
    margin: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .saved-card__source {
    margin-top: 12px;
    margin-bottom: 0;
  }
}
@media (max-width: 320px) {
  .saved-card__image {
    width: 100%;
    height: 196px;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .saved-card__content {
    padding: 16px;
    height: 244px;
  }
}
