.search {
  width: 100%;
  background-image: url("/assets/heroPic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 160px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

.search__overlay {
  max-width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px 20px;
  border-radius: 10px;
  box-sizing: border-box;
}

.search__title {
  font-family: "Roboto Slab", serif;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 400;
}

.search__subtitle {
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 88px;
}

.search__form {
  display: flex;
  justify-content: center;
  height: 64px;
  background-color: white;
  border-radius: 32px;
  overflow: hidden;
}

.search__input {
  flex: 1;
  padding: 0 20px;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: white;
  color: #333;
  border-radius: 32px 0 0 32px;
}

.search__input::placeholder {
  color: #888;
}

.search__button {
  background-color: #2f71e5;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 0 32px;
  border: none;
  cursor: pointer;
  border-radius: 32px;
  transition: background 0.3s ease;
  height: 100%;
  max-width: 168px;
  width: 100%;
}

.search__button:hover {
  background-color: #2556b0;
}

@media (max-width: 768px) {
  .search {
    padding: 120px 32px;
    width: 100%;
    max-width: 768px;
  }

  .search__form {
    height: auto;
    gap: 10px;
  }

  .search__input,
  .search__button {
    border-radius: 32px;
    width: 100%;
    padding: 14px 16px;
  }

  .search__title {
    font-size: 2.5rem;
  }

  .search__subtitle {
    font-size: 1.125rem;
  }
}

@media (max-width: 514px) {
  .search {
    padding: 120px 16px;
  }

  .search__button {
    max-width: 168px;
  }
}

@media (max-width: 320px) {
  .search__overlay {
    max-width: 288px;
    text-align: left;
    background-color: transparent;
    padding: 0;
  }
  .search__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    gap: 8px;
    background-color: transparent;
    border-radius: 0;
    overflow: visible;
  }
  .search__description {
    display: flex;
    flex-direction: column;

    margin-bottom: 122px;
    gap: 16px;
  }
  .search__title {
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    line-height: 40px;
    margin-top: 0;
    max-width: 265px;
    word-break: break-word;
    letter-spacing: -2.3px;
  }

  .search__subtitle {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 40px;
    color: #ffffff;
    text-align: left;
    max-width: 288px;
    margin-top: 0;
  }
  .search__button {
    background-color: #2f71e5;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border-radius: 32px;
    transition: background 0.3s ease;
    height: 100%;
    max-width: 238px;
    width: 100%;
  }
}
