.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  border-radius: 12px;
  padding: 34px 36px 28px 36px;
  max-width: 400px;
  width: 90%;
  position: relative;
}

.modal__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #000;
}

.modal__link {
  background: none;
  border: none;
  color: #2f71e5;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.modal__close {
  position: absolute;
  top: -95px;
  right: -100px;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

@media (max-width: 320px) {
  .modal {
    background: white;
    border-radius: 12px;
    padding: 34px 36px 28px 36px;
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  .modal__close {
    position: absolute;
    top: -95px;
    right: -55px;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
  }
}
