.news-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 24px;
  padding: 2rem;
  background-color: #f9f9f9;
  align-items: start;
}

.news-card-list__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-column: 1 / -1;
}

.show-more-button {
  font-family: "Roboto", serif;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  background-color: #e8e8e8;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

.show-more-button:hover {
  background-color: #2f71e5;
}

.show-more-button:focus {
  outline: 2px solid #2f71e5;
  outline-offset: 2px;
}

@media (max-width: 768px) {
  .news-card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 514px) {
  .news-card-list {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .search,
  .search__form {
    flex-direction: column;
    gap: 12px;
  }

  .header,
  .footer {
    padding-inline: 1rem;
  }
}

@media (max-width: 320px) {
  .search__description {
    display: flex;
  }
  .news-card-list {
    grid-template-columns: 1fr;
    padding: 1rem 0.75rem;
  }

  .show-more-button {
    width: 100%;
    font-size: 14px;
    padding: 10px 20px;
  }
}
